* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px
}
h1 {
  padding: 20px;
  margin-bottom: 150px;
  font-size: 60px;
}

/* class selectors */

.container {
  width: 500px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* gap:2px */
}

.grid {
  border: 1px solid gray;
  flex-basis: calc(100% / var(--userInput)); /* Set the flex-basis property dynamically based on user input */
  height: 0; /* Set initial height to 0 */
  padding-bottom: calc(100% / var(--userInput)); /* Maintain aspect ratio */
}
.hover {
  background-color: black;
}
