* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  padding: 20px;
  margin-bottom: 150px;
  font-size: 60px;
}

/* class selectors */

.container {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid {
  height: 25px;
  width: 25px;
  border: 1px solid white;
  background-color: gray;
  transition: opacity 0.3s ease;

}

.hover {
  
  background-color: aliceblue;
  opacity: 0.5;
}
.grid:hover{
    opacity: 1;
}
